html {
  font-family: Roboto, sans-serif;
  background-image: url(~assets/images/background/sos.png);
}

body {
  background-image: url(~assets/images/background/sos.png);
}

.text-center {
  text-align: center;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}

.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

.curricula md-card {
  margin-top: 150px;
}

.curricula md-card-header {
  background-color: rgb(63,81,181);
  color: rgba(255,255,255,0.87);
}

#team-dialog md-dialog-content md-icon:hover {
  color: #3f51b5;
}

.team {
  margin: 10px 35px 0 35px;
}

.team img {
  border-radius: 2%;
}

.team p b {
  font-size: 16px;
}

.team p {
  font-size: 14px;
}

#curriculum md-toolbar {
  color: rgba(255,255,255,0.87);
}

#curriculum .md-toolbar-tools {
  padding: 0;
}

#curriculum md-icon {
  height: 64px;
  width: 40px;
}

#curriculum md-card-content {
  padding: 8px;
  font-size: 14px;
}
