<div class="curriculum-flowchart" layout="row">
  <div ng-repeat="courses in curriculumFlowchartCtrl.curriculum.courses" flex={{100 / curriculumFlowchartCtrl.curriculum.courses.length}}>
    <md-card>
      <md-card-content class="text-center">
        <b>{{ courses[0].semester }}º</b>
      </md-card-content>
    </md-card>
    <md-card
      class="course-card"
      ng-repeat="course in courses"
      ng-class="{
        'is-prerequisite': curriculumFlowchartCtrl.isPrerequisite(course),
        'is-next': curriculumFlowchartCtrl.isNext(course)
      }"
      ng-mouseover="curriculumFlowchartCtrl.onHoverCourse(course)">
      <md-card-content>
        {{ course.name }}
      </md-card-content>
    </md-card>
  </div>
</div>
